h1,p{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    color: #004080;
}
header {
  background-color: #cce6ff;
  padding: 15px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #004080;
}
.banner {
  background-color: #f0f8ff;
  padding: 30px;
  text-align: center;
}


.service-card {
  background-color: white;
  border: 2px solid #004080;
  border-radius: 10px;
  padding: 20px;  
  margin: 15px;    
  box-sizing: border-box; 
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

.services p {
  color: #333;
}

#contact {
  background-color: #f9f9f9;
  padding: 20px;
}

input[type="text"] {
  border: 1px solid #004080;
  padding: 5px;
}

button {
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #0066cc;
}

footer {
  background-color: #cce6ff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

