body {
    margin: 0;
    font-family: Arial;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 15px;
    background: #f4f4f4;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.products {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    position: relative;
    width: 200px;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}



.product-card img {
    width: 100%;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card:nth-child(even) {
    background: #f9f9f9;
}

.product-card button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background: green;
}

#cart {
    width: 20%;
    padding: 15px;
    background: #eee;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
